.content_section {
  display: flex;
}
#header {
  /* flex: 1 0 10%; */
  min-height: 100vh;
  background-color: #272829;
  color: #fff;
  padding: 1rem;
}
#navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#navbar * {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main {
  overflow-y: auto;
  height: 100vh;
}
#intro {
  height: 100vh;
}